EMBEDDING_MODEL_NAME=text-embedding-3-small
EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-small
EMBEDDING_API_VERSION=2024-02-01
# Azure OpenAI configuration


ENDPOINT_URL=
DEPLOYMENT_NAME=
AZURE_OPENAI_API_KEY=your_azure_openai_key_here
API_VERSION=